:root{
    --blanco:#ffffff;
    --negro:#212121;
    --amarillo:#FFC107;/* Definir variables*/
    --azul:#0097A7;
    --gris:#757575;
}

html{
    font-size: 62.5%; /* Formatea todo el texto de la pagina haciendo que 1rem == 10px*/
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;/* Formatea todo el texto de la pagina haciendo que 1rem == 10px*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;/* Formatea todo el texto de la pagina con una misma fuente*/
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

#spanFree{
    font-size: 2rem;
}

.contenedor{
    max-width: 135rem;/* Modifica el largo*/
    margin: 0 auto; /*Margenes*/
}

.nav-bground{
    background-color: var(--azul); 
}

.navPrincipal{    
    display: flex; /* Habilita el flexbox*/
    flex-direction: column;
}
/*768 Tablets*/
/*480 Celulares*/
/*1140 y 1440 Notebooks y Escritorio*/

@media (min-width : 768px){ 
    .navPrincipal{
        flex-direction: row;/*Si el width de un item es menor a 768 se pone en columna*/
        justify-content: space-between; /*Alinea los items de una columna*/
    }
}

.navPrincipal a{
    color: var(--blanco);
    text-decoration: none; /* Para eliminar subrayados */
    padding: 1rem;/* Ensancha el contenido hacia los bordes*/
    font-size: 2rem;
    font-weight: bold;
    text-align:center;
}

.navPrincipal a:hover{/* Hover indica que cuando pase el mouse por encima del elemento, se va a activar el css */
    background-color: var(--amarillo);
}

.hero{
    background-image: url("/primer_proyecto/freelancer_inicio/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    position: relative;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;

    display: flex;/* Estas 4 lineas  sirven para alinear horizontal y vertical, para cualquier codigo*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p{
    color:var(--blanco);
}